div {
    background-color: antiquewhite;
}

h1 {
    background-color: rgb(245, 195, 104);
    color: grey;
}

h2 {
    color: rgb(27, 156, 156)
}

h3 {
    color: rgb(18, 99, 72);
}

p1 {
    color: rgb(144, 194, 209);

}