body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  width: 900px;
}

h1 {
  text-align: center;
  color: orange;
  letter-spacing: .2em;
  background-image: url(/05_parquenatural/imagenes/panoramica.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 170px;
  margin: 0;
}

span {
  color: green;
}

h2 {
  color: greenyellow;
  border-bottom: 1px solid black;
}

h3 {
  color: brown;
}

#Contenedor {
  background-color: blue;
}

#Titulo {
  background-color: cyan;
}

#Pagina {
  background-color: red;
  display: flex
}

#Lista {
  background-color: green;
  float: left;
  padding-bottom: 50%;
  margin: 20px
}

#Texto {
  padding: 15px 20px;
  background: linear-gradient(white, grey);
  background-position: bottom left;
}

li {
    border: black 1px solid;
    background-color: #fff;
    margin-bottom: 5px;
    text-align: center;
    line-height: 35px;
    background-color: green;
    list-style-type: none;
}

.boton {
  padding: 0.5em 1.5em;
  background: green;
  border: 2px solid;
  border-color: greenyellow;
  position: inherit;
}

.boton:hover {
  background: orange;
  color: #fff !important;
}